* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;

}
.top-side{
    background-color: #22223B;
    height: 70vh;
}
.logo-top{
    display: flex;
}
.ebook-top{
    margin: 40px;
}
.logo{
    background-color: #4A4E69;
    margin-top: 30px;
    border-radius: 25px;
    width: 40vw;
    height: 50vh;
    padding: 30px;
    padding-top: 10px;
}
.logo img{
    margin: 15px;
    margin-bottom: 10px;
    width: 150px;
}
.logo h1{
    color:#C9ADA7;
    margin-bottom: 18px;
    font-size: 40px;
}
.logo h2{
    font-size: 28px;
    color:#F2E9E4;
}
.logo p{
    margin-left: 10px;
    width: 450px;
    font-size: 22px;
    color:#000000; 
    line-height: 1.3;
}

.description{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.description p{
    text-align: center;
    font-size: 20px;
    line-height: 1.4;
}
.content h1{
    color:green;
    text-align: center;
    font-size: 40px;
    margin-bottom: 12px;
}
.content h2{
   text-align: center;
   margin-bottom: 15px;
}
.content ul{
    text-align: center;
    margin-bottom: 15px;
}
.content li{
    font-size: 20px;
}
.download{
    margin: 20px auto;
    margin-top:2vw;
    width:38vw;
    height:60vh;
    background-color: #4A4E69;
    border-radius: 15px;
}
.download h1{
    background-color: green;
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#emoji{
    color: black;
}
.download h2{
    margin: 0 auto;
    text-align: center;
    color:white;
    width: 450px;
}
form{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 10px auto;
}
#name, #email{
    border: 0;
    border: 2px solid #ffffffa8;
    padding: 15px;
    margin-bottom:15px;
    border-radius: 10px;
    text-align: center;
    outline: none;
}
#name:focus, #email:focus{
    background-color: lightblue;
    border: 2px solid #00000065;
}
button{
    margin: 30px auto;
    border: 0;
    border-radius:15px;
    width: 25vw;
    padding: 20px;
    font-size:20px ;
    outline: none;
    transition: 0.25s;
}

.download button[type="submit"]:hover{
    background-color: green;
    color: white;
} 